Chameleon==2.7.3
CherryPy==3.2.2
Mako==0.6.2
MarkupSafe==0.15
Paste==1.7.5.1
PasteDeploy==1.5.0
Pygments==1.4
WebOb==1.2b3
distribute==0.6.24
foursquare==20120210
gunicorn==0.13.4
httplib2==0.7.2
mongoengine==0.5.2
poster==0.8.1
pymongo==2.1.1
pyramid==1.3a7
pyramid-debugtoolbar==0.9.8
repoze.lru==0.4
translationstring==1.1
venusian==1.0a2
waitress==0.8.1
wsgiref==0.1.2
zope.deprecation==3.5.0
zope.interface==3.8.0
